USE [master]
GO
/****** Object:  Database [UITour]    Script Date: 12/15/2025 10:25:03 PM ******/
CREATE DATABASE [UITour]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UITour', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UITour.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UITour_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UITour_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UITour].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UITour]
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenities](
	[AmenityID] [int] IDENTITY(1,1) NOT NULL,
	[AmenityName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AmenityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BedTypes]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BedTypes](
	[BedTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BedTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NULL,
	[UserID] [int] NOT NULL,
	[HostID] [int] NOT NULL,
	[CheckIn] [date] NOT NULL,
	[CheckOut] [date] NOT NULL,
	[Nights] [int] NOT NULL,
	[GuestsCount] [smallint] NOT NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
	[CleaningFee] [decimal](10, 2) NULL,
	[ServiceFee] [decimal](10, 2) NULL,
	[TotalPrice] [decimal](12, 2) NOT NULL,
	[Currency] [nvarchar](10) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[TourID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calendars]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendars](
	[CalendarID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Price] [decimal](10, 2) NULL,
	[Available] [bit] NULL,
	[MinNights] [smallint] NULL,
	[MaxNights] [smallint] NULL,
	[LastModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CalendarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CancellationPolicies]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CancellationPolicies](
	[CancellationID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CancellationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](200) NOT NULL,
	[CountryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CurrencyExchangeRates]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrencyExchangeRates](
	[RateID] [int] IDENTITY(1,1) NOT NULL,
	[FromCurrency] [nvarchar](10) NOT NULL,
	[ToCurrency] [nvarchar](10) NOT NULL,
	[ExchangeRate] [decimal](10, 4) NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExperienceDetails]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExperienceDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[SortIndex] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteList]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteList](
	[ListID] [varchar](50) NOT NULL,
	[UserID] [int] NULL,
	[Title] [varchar](255) NULL,
	[CoverImage] [varchar](255) NULL,
	[ItemsCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hosts]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hosts](
	[HostID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[HostSince] [date] NULL,
	[HostAbout] [nvarchar](max) NULL,
	[HostResponseRate] [tinyint] NULL,
	[HostResponseTime] [nvarchar](100) NULL,
	[Languages] [nvarchar](500) NULL,
	[IsSuperHost] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[HostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HostVerifications]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HostVerifications](
	[HostVerificationID] [int] IDENTITY(1,1) NOT NULL,
	[HostID] [int] NOT NULL,
	[VerificationTypeID] [int] NULL,
	[VerifiedAt] [datetime] NULL,
	[Details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[HostVerificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[FromUserID] [int] NULL,
	[ToUserID] [int] NULL,
	[BookingID] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[SentAt] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Neighbourhoods]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Neighbourhoods](
	[NeighbourhoodID] [int] IDENTITY(1,1) NOT NULL,
	[NeighbourhoodName] [nvarchar](200) NOT NULL,
	[CityID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NeighbourhoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentApprovalHistory]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentApprovalHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [int] NOT NULL,
	[PreviousStatus] [nvarchar](50) NULL,
	[NewStatus] [nvarchar](50) NOT NULL,
	[ActionBy] [int] NULL,
	[ActionNote] [nvarchar](max) NULL,
	[ActionAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[PropertyID] [int] IDENTITY(1,1) NOT NULL,
	[HostID] [int] NOT NULL,
	[ListingTitle] [nvarchar](300) NULL,
	[Description] [nvarchar](max) NULL,
	[Summary] [nvarchar](max) NULL,
	[Location] [nvarchar](300) NULL,
	[NeighbourhoodID] [int] NULL,
	[CityID] [int] NULL,
	[CountryID] [int] NULL,
	[RoomTypeID] [int] NULL,
	[BedTypeID] [int] NULL,
	[Bedrooms] [smallint] NULL,
	[Beds] [smallint] NULL,
	[Bathrooms] [decimal](3, 1) NULL,
	[Accommodates] [smallint] NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Currency] [nvarchar](10) NULL,
	[CleaningFee] [decimal](10, 2) NULL,
	[ExtraPeopleFee] [decimal](10, 2) NULL,
	[SquareFeet] [int] NULL,
	[IsBusinessReady] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[Active] [bit] NULL,
	[CancellationID] [int] NULL,
	[PropertyType] [nvarchar](100) NULL,
	[selfCheckIn] [bit] NULL,
	[enhancedClean] [bit] NULL,
	[freeCancellation] [bit] NULL,
	[checkin_after] [nvarchar](100) NULL,
	[self_checkin_method] [nvarchar](100) NULL,
	[no_smoking] [bit] NULL,
	[no_open_flames] [bit] NULL,
	[pets_allowed] [bit] NULL,
	[no_parties] [bit] NULL,
	[lat] [nvarchar](200) NULL,
	[lng] [nvarchar](200) NULL,
	[ServiceFee] [decimal](10, 2) NULL,
	[TaxFee] [decimal](10, 2) NULL,
	[Discount] [decimal](10, 2) NULL,
	[DiscountPercentage] [decimal](5, 2) NULL,
	[checkout_before] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
	[HouseRules] [nvarchar](max) NULL,
	[CovidSafety] [bit] NULL,
	[SurfacesSanitized] [bit] NULL,
	[CarbonMonoxideAlarm] [bit] NULL,
	[SmokeAlarm] [bit] NULL,
	[SecurityDepositRequired] [bit] NULL,
	[SecurityDepositAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyAmenities]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyAmenities](
	[PropertyID] [int] NOT NULL,
	[AmenityID] [int] NOT NULL,
	[Quantity] [smallint] NULL,
 CONSTRAINT [PK_PropertyAmenities] PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC,
	[AmenityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyPhotos]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyPhotos](
	[PhotoID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
	[Caption] [nvarchar](300) NULL,
	[SortIndex] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NULL,
	[BookingID] [int] NULL,
	[UserID] [int] NULL,
	[Rating] [tinyint] NULL,
	[Comments] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedListings]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedListings](
	[UserID] [int] NOT NULL,
	[PropertyID] [int] NULL,
	[SavedAt] [datetime] NULL,
	[ListID] [varchar](50) NULL,
	[SavedListingID] [int] IDENTITY(1,1) NOT NULL,
	[ItemType] [nvarchar](20) NOT NULL,
	[TourID] [int] NULL,
 CONSTRAINT [PK_SavedListings] PRIMARY KEY CLUSTERED 
(
	[SavedListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourPhotos]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourPhotos](
	[PhotoID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
	[Caption] [nvarchar](300) NULL,
	[SortIndex] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourReviews]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourReviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [tinyint] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[TourID] [int] IDENTITY(1,1) NOT NULL,
	[HostID] [int] NOT NULL,
	[TourName] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Location] [nvarchar](300) NULL,
	[CityID] [int] NULL,
	[CountryID] [int] NULL,
	[DurationDays] [int] NULL,
	[MaxGuests] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Currency] [nvarchar](10) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[CreatedAt] [datetime] NULL,
	[Active] [bit] NULL,
	[CancellationID] [int] NULL,
	[mainCategory] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Currency] [nvarchar](10) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[ProcessedAt] [datetime] NULL,
	[QRCodeUrl] [nvarchar](500) NULL,
	[ApprovalStatus] [nvarchar](50) NULL,
	[ApprovedBy] [int] NULL,
	[ApprovedAt] [datetime] NULL,
	[ApprovalNote] [nvarchar](max) NULL,
	[OriginalCurrency] [nvarchar](10) NULL,
	[OriginalAmount] [decimal](12, 2) NULL,
	[ExchangeRate] [decimal](10, 4) NULL,
	[CurrencyConversionNote] [nvarchar](max) NULL,
	[BankAccount] [nvarchar](200) NULL,
	[BankName] [nvarchar](100) NULL,
	[TransactionContent] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[RegisteredAt] [datetime] NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[Avatar] [nvarchar](500) NULL,
	[UserAbout] [nvarchar](max) NULL,
	[Role] [nvarchar](20) NULL,
	[Age] [int] NULL,
	[Gender] [nvarchar](20) NULL,
	[Nationality] [nvarchar](100) NULL,
	[Interests] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerificationTypes]    Script Date: 12/15/2025 10:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerificationTypes](
	[VerificationTypeID] [int] IDENTITY(1,1) NOT NULL,
	[VerificationName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VerificationTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Amenities] ON 

INSERT [dbo].[Amenities] ([AmenityID], [AmenityName]) VALUES (6, N'Air Conditioning')
INSERT [dbo].[Amenities] ([AmenityID], [AmenityName]) VALUES (19, N'BBQ grill')
INSERT [dbo].[Amenities] ([AmenityID], [AmenityName]) VALUES (12, N'Breakfast')
SET IDENTITY_INSERT [dbo].[Amenities] OFF
GO
SET IDENTITY_INSERT [dbo].[BedTypes] ON 

INSERT [dbo].[BedTypes] ([BedTypeID], [Name]) VALUES (3, N'Double')
INSERT [dbo].[BedTypes] ([BedTypeID], [Name]) VALUES (1, N'King')
INSERT [dbo].[BedTypes] ([BedTypeID], [Name]) VALUES (2, N'Queen')
SET IDENTITY_INSERT [dbo].[BedTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [PropertyID], [UserID], [HostID], [CheckIn], [CheckOut], [Nights], [GuestsCount], [BasePrice], [CleaningFee], [ServiceFee], [TotalPrice], [Currency], [Status], [CreatedAt], [TourID]) VALUES (1, 3, 2, 1, CAST(N'2025-10-01' AS Date), CAST(N'2025-10-03' AS Date), 2, 2, CAST(104.00 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(117.00 AS Decimal(12, 2)), N'USD', N'confirmed', CAST(N'2025-11-10T20:47:22.197' AS DateTime), NULL)
INSERT [dbo].[Bookings] ([BookingID], [PropertyID], [UserID], [HostID], [CheckIn], [CheckOut], [Nights], [GuestsCount], [BasePrice], [CleaningFee], [ServiceFee], [TotalPrice], [Currency], [Status], [CreatedAt], [TourID]) VALUES (2, 6, 4, 1, CAST(N'2025-10-05' AS Date), CAST(N'2025-10-08' AS Date), 3, 2, CAST(120.00 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), CAST(6.00 AS Decimal(10, 2)), CAST(129.00 AS Decimal(12, 2)), N'USD', N'pending', CAST(N'2025-11-10T20:47:22.197' AS DateTime), NULL)
INSERT [dbo].[Bookings] ([BookingID], [PropertyID], [UserID], [HostID], [CheckIn], [CheckOut], [Nights], [GuestsCount], [BasePrice], [CleaningFee], [ServiceFee], [TotalPrice], [Currency], [Status], [CreatedAt], [TourID]) VALUES (3, 2, 2, 2, CAST(N'2025-11-20' AS Date), CAST(N'2025-11-26' AS Date), 6, 1, CAST(150.00 AS Decimal(10, 2)), CAST(13.00 AS Decimal(10, 2)), CAST(90.00 AS Decimal(10, 2)), CAST(1003.00 AS Decimal(12, 2)), N'USD', N'Pending', CAST(N'2025-11-20T15:55:56.530' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Calendars] ON 

INSERT [dbo].[Calendars] ([CalendarID], [PropertyID], [Date], [Price], [Available], [MinNights], [MaxNights], [LastModified]) VALUES (1, 1, CAST(N'2025-10-01' AS Date), CAST(39.00 AS Decimal(10, 2)), 1, 1, 30, CAST(N'2025-11-10T20:47:22.193' AS DateTime))
INSERT [dbo].[Calendars] ([CalendarID], [PropertyID], [Date], [Price], [Available], [MinNights], [MaxNights], [LastModified]) VALUES (2, 1, CAST(N'2025-10-02' AS Date), CAST(39.00 AS Decimal(10, 2)), 1, 1, 30, CAST(N'2025-11-10T20:47:22.193' AS DateTime))
INSERT [dbo].[Calendars] ([CalendarID], [PropertyID], [Date], [Price], [Available], [MinNights], [MaxNights], [LastModified]) VALUES (3, 2, CAST(N'2025-10-01' AS Date), CAST(150.00 AS Decimal(10, 2)), 1, 1, 30, CAST(N'2025-11-10T20:47:22.193' AS DateTime))
SET IDENTITY_INSERT [dbo].[Calendars] OFF
GO
SET IDENTITY_INSERT [dbo].[CancellationPolicies] ON 

INSERT [dbo].[CancellationPolicies] ([CancellationID], [PolicyName], [Description], [Details]) VALUES (1, N'Flexible', N'Full refund 1 day prior to arrival', N'Cancel up to 24 hours before check-in to get a full refund (minus service fees). Cancel within 24 hours of check-in and the first night is non-refundable. Service fees are refunded when cancellation happens before check-in and within 48 hours of booking.')
INSERT [dbo].[CancellationPolicies] ([CancellationID], [PolicyName], [Description], [Details]) VALUES (2, N'Moderate', N'Full refund 5 days prior to arrival', N'Cancel up to 5 days before check-in to get a full refund (minus service fees). Cancel within 5 days of check-in and the first night is non-refundable, but 50% of the cost for the remaining nights will be refunded. Service fees are refunded when cancellation happens before check-in and within 48 hours of booking.')
INSERT [dbo].[CancellationPolicies] ([CancellationID], [PolicyName], [Description], [Details]) VALUES (3, N'Strict', N'50% refund up to 1 week before arrival', N'Cancel up to 7 days before check-in to get a 50% refund (minus service fees). Cancel within 7 days of check-in and the reservation is non-refundable. Service fees are refunded when cancellation happens before check-in and within 48 hours of booking.')
SET IDENTITY_INSERT [dbo].[CancellationPolicies] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityID], [CityName], [CountryID]) VALUES (1, N'Hanoi', 1)
INSERT [dbo].[Cities] ([CityID], [CityName], [CountryID]) VALUES (2, N'Ho Chi Minh City', 1)
INSERT [dbo].[Cities] ([CityID], [CityName], [CountryID]) VALUES (3, N'Da Nang', 1)
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (1, N'Vietnam')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (2, N'Singapore')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (3, N'Thailand')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[CurrencyExchangeRates] ON 

INSERT [dbo].[CurrencyExchangeRates] ([RateID], [FromCurrency], [ToCurrency], [ExchangeRate], [EffectiveDate], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'VND', N'USD', CAST(25000.0000 AS Decimal(10, 4)), CAST(N'2025-11-26' AS Date), 1, CAST(N'2025-11-26T23:40:18.567' AS DateTime), CAST(N'2025-11-26T23:40:18.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[CurrencyExchangeRates] OFF
GO
SET IDENTITY_INSERT [dbo].[ExperienceDetails] ON 

INSERT [dbo].[ExperienceDetails] ([DetailID], [TourID], [ImageUrl], [Title], [Description], [SortIndex]) VALUES (1, 1, N'https://sawasdee.thaiairways.com/wp-content/uploads/2023/04/shutterstock_1865107804-1160x775.jpg', N'Tunnel Experience', N'Crawl inside preserved underground pathways.', 1)
INSERT [dbo].[ExperienceDetails] ([DetailID], [TourID], [ImageUrl], [Title], [Description], [SortIndex]) VALUES (2, 1, N'https://c8.alamy.com/comp/2RH6AHY/cu-chi-vietnam-21st-aug-2014-the-cu-chi-tunnels-are-an-immense-network-of-underground-tunnels-used-by-viet-cong-soldiers-during-the-vietnam-war-2RH6AHY.jpg', N'War Artifacts', N'Original traps and handmade tools from soldiers.', 2)
INSERT [dbo].[ExperienceDetails] ([DetailID], [TourID], [ImageUrl], [Title], [Description], [SortIndex]) VALUES (3, 1, N'https://img.freepik.com/premium-photo/vietnam-war-soldier-menu-peanuts-cane-sugar-today-it-is-served-tourists-cu-chi-tunnel-vietnam_479694-10438.jpg?w=996', N'Soldier Snacks', N'Try cassava with peanuts — meal from wartime era.', 3)
SET IDENTITY_INSERT [dbo].[ExperienceDetails] OFF
GO
INSERT [dbo].[FavoriteList] ([ListID], [UserID], [Title], [CoverImage], [ItemsCount]) VALUES (N'defau2t', 2, N'Danh sách yêu thích', N'/images/id1_img01.png', 2)
INSERT [dbo].[FavoriteList] ([ListID], [UserID], [Title], [CoverImage], [ItemsCount]) VALUES (N'default', 2, N'Danh sách yêu thích', N'/images/id1_img01.png', 2)
INSERT [dbo].[FavoriteList] ([ListID], [UserID], [Title], [CoverImage], [ItemsCount]) VALUES (N'default_10', 10, N'Danh sách yêu thích', N'', 0)
GO
SET IDENTITY_INSERT [dbo].[Hosts] ON 

INSERT [dbo].[Hosts] ([HostID], [UserID], [HostSince], [HostAbout], [HostResponseRate], [HostResponseTime], [Languages], [IsSuperHost]) VALUES (1, 1, CAST(N'2019-05-01' AS Date), N'I love hosting travelers in Hanoi! I have been hosting for over 5 years and enjoy sharing local tips and recommendations. My properties are always clean and well-maintained. Feel free to ask me anything about the area!', 95, N'within an hour', N'["English", "Vietnamese"]', 1)
INSERT [dbo].[Hosts] ([HostID], [UserID], [HostSince], [HostAbout], [HostResponseRate], [HostResponseTime], [Languages], [IsSuperHost]) VALUES (2, 3, CAST(N'2020-03-10' AS Date), N'Offering cozy apartments in Singapore. I am passionate about providing comfortable stays for guests. My goal is to make your visit memorable and enjoyable.', 90, N'within a few hours', N'["English", "Vietnamese", "Chinese"]', 0)
INSERT [dbo].[Hosts] ([HostID], [UserID], [HostSince], [HostAbout], [HostResponseRate], [HostResponseTime], [Languages], [IsSuperHost]) VALUES (3, 7, CAST(N'2025-11-18' AS Date), NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Hosts] OFF
GO
SET IDENTITY_INSERT [dbo].[HostVerifications] ON 

INSERT [dbo].[HostVerifications] ([HostVerificationID], [HostID], [VerificationTypeID], [VerifiedAt], [Details]) VALUES (1, 2, 1, CAST(N'2019-05-02T00:00:00.000' AS DateTime), N'Email verified')
INSERT [dbo].[HostVerifications] ([HostVerificationID], [HostID], [VerificationTypeID], [VerifiedAt], [Details]) VALUES (2, 2, 2, CAST(N'2019-05-02T00:00:00.000' AS DateTime), N'Phone verified')
INSERT [dbo].[HostVerifications] ([HostVerificationID], [HostID], [VerificationTypeID], [VerifiedAt], [Details]) VALUES (3, 1, 3, CAST(N'2020-03-11T00:00:00.000' AS DateTime), N'Government ID verified')
SET IDENTITY_INSERT [dbo].[HostVerifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [FromUserID], [ToUserID], [BookingID], [Content], [SentAt], [IsRead]) VALUES (3, 2, 1, 1, N'Hello', CAST(N'2025-12-02T14:18:42.963' AS DateTime), 1)
INSERT [dbo].[Messages] ([MessageID], [FromUserID], [ToUserID], [BookingID], [Content], [SentAt], [IsRead]) VALUES (4, 3, 4, 1, N'bye', CAST(N'2025-12-02T10:36:31.447' AS DateTime), 0)
INSERT [dbo].[Messages] ([MessageID], [FromUserID], [ToUserID], [BookingID], [Content], [SentAt], [IsRead]) VALUES (5, 1, 4, 1, N'bye', CAST(N'2025-12-02T10:36:52.607' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Neighbourhoods] ON 

INSERT [dbo].[Neighbourhoods] ([NeighbourhoodID], [NeighbourhoodName], [CityID]) VALUES (1, N'Hoan Kiem', 1)
INSERT [dbo].[Neighbourhoods] ([NeighbourhoodID], [NeighbourhoodName], [CityID]) VALUES (2, N'Dong Da', 1)
INSERT [dbo].[Neighbourhoods] ([NeighbourhoodID], [NeighbourhoodName], [CityID]) VALUES (3, N'District 1', 2)
SET IDENTITY_INSERT [dbo].[Neighbourhoods] OFF
GO
SET IDENTITY_INSERT [dbo].[Properties] ON 

SET IDENTITY_INSERT [dbo].[Properties] OFF
GO
INSERT [dbo].[PropertyAmenities] ([PropertyID], [AmenityID], [Quantity]) VALUES (1, 1, 1)
INSERT [dbo].[PropertyAmenities] ([PropertyID], [AmenityID], [Quantity]) VALUES (1, 6, 1)
INSERT [dbo].[PropertyAmenities] ([PropertyID], [AmenityID], [Quantity]) VALUES (1, 7, 1)
GO
SET IDENTITY_INSERT [dbo].[PropertyPhotos] ON 

INSERT [dbo].[PropertyPhotos] ([PhotoID], [PropertyID], [Url], [Caption], [SortIndex]) VALUES (1, 1, N'https://cf.bstatic.com/xdata/images/hotel/max1024x768/638610311.jpg?k=454cd773ebf14f20b30c13aabfa128d18a514182c377751d9c36b6a38f754401&o=', N'Overviews', 1)
INSERT [dbo].[PropertyPhotos] ([PhotoID], [PropertyID], [Url], [Caption], [SortIndex]) VALUES (2, 1, N'https://cf.bstatic.com/xdata/images/hotel/max500/617539421.jpg?k=cac87c61bf48bab099b5a50b501d56fed74d7917697eb635ac031039d9c30ead&o=', N'Livingroom', 2)
INSERT [dbo].[PropertyPhotos] ([PhotoID], [PropertyID], [Url], [Caption], [SortIndex]) VALUES (3, 1, N'https://cf.bstatic.com/xdata/images/hotel/max300/676850106.jpg?k=791fd2840adc7e7216c6217671a801898bfbc0d3163b5fae079793af568731f2&o=', N'Bedroom', 3)
SET IDENTITY_INSERT [dbo].[PropertyPhotos] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [PropertyID], [BookingID], [UserID], [Rating], [Comments], [CreatedAt]) VALUES (1, 1, 1, 2, 5, N'Great location, very clean, would stay again!', CAST(N'2025-11-10T21:52:08.257' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [PropertyID], [BookingID], [UserID], [Rating], [Comments], [CreatedAt]) VALUES (2, 3, 1, 2, 4, N'Beautiful traditional house, amazing experience!', CAST(N'2025-11-10T21:52:08.257' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [PropertyID], [BookingID], [UserID], [Rating], [Comments], [CreatedAt]) VALUES (3, 11, 9, 9, 4, N'supa nice', CAST(N'2025-12-01T14:57:53.847' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([RoomTypeID], [Name]) VALUES (1, N'Entire home/apt')
INSERT [dbo].[RoomTypes] ([RoomTypeID], [Name]) VALUES (4, N'Hotel room')
INSERT [dbo].[RoomTypes] ([RoomTypeID], [Name]) VALUES (2, N'Private room')
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[SavedListings] ON 

INSERT [dbo].[SavedListings] ([UserID], [PropertyID], [SavedAt], [ListID], [SavedListingID], [ItemType], [TourID]) VALUES (1, 1, CAST(N'2025-11-16T10:15:00.000' AS DateTime), N'investment', 1, N'property', NULL)
INSERT [dbo].[SavedListings] ([UserID], [PropertyID], [SavedAt], [ListID], [SavedListingID], [ItemType], [TourID]) VALUES (2, 3, CAST(N'2025-11-10T20:47:35.743' AS DateTime), NULL, 2, N'property', NULL)
INSERT [dbo].[SavedListings] ([UserID], [PropertyID], [SavedAt], [ListID], [SavedListingID], [ItemType], [TourID]) VALUES (2, 5, CAST(N'2025-11-16T08:00:00.000' AS DateTime), N'default', 3, N'property', NULL)
SET IDENTITY_INSERT [dbo].[SavedListings] OFF
GO
SET IDENTITY_INSERT [dbo].[TourPhotos] ON 

INSERT [dbo].[TourPhotos] ([PhotoID], [TourID], [Url], [Caption], [SortIndex]) VALUES (1, 1, N'https://vietnam.travel/sites/default/files/inline-images/visit%20old%20quarter%20Hanoi-8.jpg', N'Hoan Kiem Lake', 1)
INSERT [dbo].[TourPhotos] ([PhotoID], [TourID], [Url], [Caption], [SortIndex]) VALUES (2, 2, N'https://dth.travel/wp-content/uploads/2023/10/Merlion-Park-Singapore_joshua-ang-Gf_KqXHU-PY-unsplash-scaled.jpg', N'Marina Bay skyline at night', 1)
INSERT [dbo].[TourPhotos] ([PhotoID], [TourID], [Url], [Caption], [SortIndex]) VALUES (3, 1, N'https://localvietnam.com/wp-content/uploads/2021/04/hoan-kiem-lake-5.jpg', N'Hoan Kiem Lake - Evening', 2)
SET IDENTITY_INSERT [dbo].[TourPhotos] OFF
GO
SET IDENTITY_INSERT [dbo].[TourReviews] ON 

INSERT [dbo].[TourReviews] ([ReviewID], [TourID], [UserID], [Rating], [Comment], [CreatedAt]) VALUES (1, 1, 2, 5, N'Excellent guide, great local experience!', CAST(N'2025-11-10T20:47:35.747' AS DateTime))
INSERT [dbo].[TourReviews] ([ReviewID], [TourID], [UserID], [Rating], [Comment], [CreatedAt]) VALUES (2, 2, 4, 4, N'Beautiful views but quite crowded.', CAST(N'2025-11-10T20:47:35.747' AS DateTime))
INSERT [dbo].[TourReviews] ([ReviewID], [TourID], [UserID], [Rating], [Comment], [CreatedAt]) VALUES (3, 2, 9, 2, N'Not so good at all! Wasted money!', CAST(N'2025-12-13T09:48:17.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[TourReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Tours] ON 

INSERT [dbo].[Tours] ([TourID], [HostID], [TourName], [Description], [Location], [CityID], [CountryID], [DurationDays], [MaxGuests], [Price], [Currency], [StartDate], [EndDate], [CreatedAt], [Active], [CancellationID], [mainCategory]) VALUES (1, 1, N'Explore Old Quarter of Hanoi', N'Walking tour through historical streets and local food stalls.', N'Hoan Kiem, Hanoi', 1, 1, 1, 10, CAST(25.00 AS Decimal(10, 2)), N'USD', CAST(N'2025-11-10' AS Date), CAST(N'2025-11-10' AS Date), CAST(N'2025-11-10T20:47:35.743' AS DateTime), 1, NULL, N'art')
INSERT [dbo].[Tours] ([TourID], [HostID], [TourName], [Description], [Location], [CityID], [CountryID], [DurationDays], [MaxGuests], [Price], [Currency], [StartDate], [EndDate], [CreatedAt], [Active], [CancellationID], [mainCategory]) VALUES (2, 2, N'Marina Bay Night Adventure', N'Enjoy Singapore at night with a guided boat and city tour.', N'Marina Bay, Singapore', 6, 2, 1, 15, CAST(40.00 AS Decimal(10, 2)), N'USD', CAST(N'2025-12-05' AS Date), CAST(N'2025-12-05' AS Date), CAST(N'2025-11-10T20:47:35.743' AS DateTime), 1, NULL, N'art')
INSERT [dbo].[Tours] ([TourID], [HostID], [TourName], [Description], [Location], [CityID], [CountryID], [DurationDays], [MaxGuests], [Price], [Currency], [StartDate], [EndDate], [CreatedAt], [Active], [CancellationID], [mainCategory]) VALUES (3, 1, N'Explore Old Quarter Street Food', N'Guided walking tour tasting Hanoi''s best street food.', N'Hoan Kiem, Hanoi', 1, 1, 1, 12, CAST(25.00 AS Decimal(10, 2)), N'USD', CAST(N'2025-11-20' AS Date), CAST(N'2025-11-20' AS Date), CAST(N'2025-11-11T21:42:32.137' AS DateTime), 1, 1, N'art')
SET IDENTITY_INSERT [dbo].[Tours] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionID], [BookingID], [Amount], [Currency], [PaymentMethod], [PaymentStatus], [ProcessedAt], [QRCodeUrl], [ApprovalStatus], [ApprovedBy], [ApprovedAt], [ApprovalNote], [OriginalCurrency], [OriginalAmount], [ExchangeRate], [CurrencyConversionNote], [BankAccount], [BankName], [TransactionContent]) VALUES (1, 1, CAST(117.00 AS Decimal(12, 2)), N'USD', N'Credit Card', N'Paid', CAST(N'2025-11-10T20:47:22.197' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Transactions] ([TransactionID], [BookingID], [Amount], [Currency], [PaymentMethod], [PaymentStatus], [ProcessedAt], [QRCodeUrl], [ApprovalStatus], [ApprovedBy], [ApprovedAt], [ApprovalNote], [OriginalCurrency], [OriginalAmount], [ExchangeRate], [CurrencyConversionNote], [BankAccount], [BankName], [TransactionContent]) VALUES (2, 2, CAST(129.00 AS Decimal(12, 2)), N'USD', N'PayPal', N'Pending', CAST(N'2025-11-10T20:47:22.197' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Transactions] ([TransactionID], [BookingID], [Amount], [Currency], [PaymentMethod], [PaymentStatus], [ProcessedAt], [QRCodeUrl], [ApprovalStatus], [ApprovedBy], [ApprovedAt], [ApprovalNote], [OriginalCurrency], [OriginalAmount], [ExchangeRate], [CurrencyConversionNote], [BankAccount], [BankName], [TransactionContent]) VALUES (3, 7, CAST(600.00 AS Decimal(12, 2)), N'USD', N'Bank Transfer', N'awaiting_approval', CAST(N'2025-11-26T23:44:56.150' AS DateTime), NULL, N'pending', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Email], [FullName], [Phone], [RegisteredAt], [PasswordHash], [Avatar], [UserAbout], [Role], [Age], [Gender], [Nationality], [Interests]) VALUES (1, N'23520449@gm.uit.edu.vn', N'Tran Anh Hao', N'0967248387', CAST(N'2025-11-10T20:46:56.127' AS DateTime), N'$2a$11$bBxOFtJcS1zh3XepYVhIqun.gZWxxmcxjx/BYFOdJ2loNPTTkT7FO', N'https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=150', N'Là một người hướng ngoại, thích du lịch và khám phá những địa điểm mới lạ. Gay', N'Host', 25, N'Nam', N'Việt Nam', N'Thể thao, Du lịch, Công nghệ, Gay')
INSERT [dbo].[Users] ([UserID], [Email], [FullName], [Phone], [RegisteredAt], [PasswordHash], [Avatar], [UserAbout], [Role], [Age], [Gender], [Nationality], [Interests]) VALUES (2, N'23521373@gm.uit.edu.vn', N'Hoang Van Tai', N'0902758301', CAST(N'2025-11-10T20:46:56.127' AS DateTime), N'$2a$11$o9Hz4h2VexJLId4W2zm3te4YIHY2dfFF351i2WmoMSI8N05e0SkYK', N'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?w=150', N'Yêu thích văn hóa Nhật Bản và thường xuyên đọc sách lịch sử.', N'Admin', 28, N'Nam', N'Việt Nam', N'Sách, Lịch sử, Ẩm thực, Phim ảnh')
INSERT [dbo].[Users] ([UserID], [Email], [FullName], [Phone], [RegisteredAt], [PasswordHash], [Avatar], [UserAbout], [Role], [Age], [Gender], [Nationality], [Interests]) VALUES (3, N'23521399@gm.uit.edu.vn', N'Le Phuoc Ngoc Tan', N'0392091842', CAST(N'2025-11-10T20:46:56.127' AS DateTime), N'$2a$11$bBxOFtJcS1zh3XepYVhIqun.gZWxxmcxjx/BYFOdJ2loNPTTkT7FO', N'/uploads/images/46947fbf-5d67-47ca-9c9c-65d6bcefaf06.png', N'Thích cà phê, mua sắm và nghiên cứu lịch sử.', N'Host', 23, N'Nam', N'Việt Nam', N'Cà phê, Mua sắm, Nấu ăn, Thể thao trực tiếp, Lịch sử, Nhạc sống, Phim ảnh, Đọc')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VerificationTypes] ON 

INSERT [dbo].[VerificationTypes] ([VerificationTypeID], [VerificationName]) VALUES (1, N'Email')
INSERT [dbo].[VerificationTypes] ([VerificationTypeID], [VerificationName]) VALUES (2, N'Phone')
INSERT [dbo].[VerificationTypes] ([VerificationTypeID], [VerificationName]) VALUES (3, N'Government ID')
SET IDENTITY_INSERT [dbo].[VerificationTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Amenitie__7B4A459F401C1763]    Script Date: 12/15/2025 10:25:03 PM ******/
ALTER TABLE [dbo].[Amenities] ADD UNIQUE NONCLUSTERED 
(
	[AmenityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BedTypes__737584F64DB7E25E]    Script Date: 12/15/2025 10:25:03 PM ******/
ALTER TABLE [dbo].[BedTypes] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PropertyDate]    Script Date: 12/15/2025 10:25:03 PM ******/
ALTER TABLE [dbo].[Calendars] ADD  CONSTRAINT [UQ_PropertyDate] UNIQUE NONCLUSTERED 
(
	[PropertyID] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CurrencyRate_Date]    Script Date: 12/15/2025 10:25:03 PM ******/
ALTER TABLE [dbo].[CurrencyExchangeRates] ADD  CONSTRAINT [UQ_CurrencyRate_Date] UNIQUE NONCLUSTERED 
(
	[FromCurrency] ASC,
	[ToCurrency] ASC,
	[EffectiveDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Hosts__1788CCAD2EDC5BF5]    Script Date: 12/15/2025 10:25:03 PM ******/
ALTER TABLE [dbo].[Hosts] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentApprovalHistory_ActionBy]    Script Date: 12/15/2025 10:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentApprovalHistory_ActionBy] ON [dbo].[PaymentApprovalHistory]
(
	[ActionBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentApprovalHistory_TransactionID]    Script Date: 12/15/2025 10:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentApprovalHistory_TransactionID] ON [dbo].[PaymentApprovalHistory]
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RoomType__737584F6BD3E019C]    Script Date: 12/15/2025 10:25:03 PM ******/
ALTER TABLE [dbo].[RoomTypes] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534F627AD50]    Script Date: 12/15/2025 10:25:03 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [CleaningFee]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [ServiceFee]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Calendars] ADD  DEFAULT ((1)) FOR [Available]
GO
ALTER TABLE [dbo].[Calendars] ADD  DEFAULT ((1)) FOR [MinNights]
GO
ALTER TABLE [dbo].[Calendars] ADD  DEFAULT ((30)) FOR [MaxNights]
GO
ALTER TABLE [dbo].[Calendars] ADD  DEFAULT (getdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[CurrencyExchangeRates] ADD  DEFAULT ('USD') FOR [ToCurrency]
GO
ALTER TABLE [dbo].[CurrencyExchangeRates] ADD  DEFAULT (CONVERT([date],getdate())) FOR [EffectiveDate]
GO
ALTER TABLE [dbo].[CurrencyExchangeRates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CurrencyExchangeRates] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CurrencyExchangeRates] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ExperienceDetails] ADD  DEFAULT ((0)) FOR [SortIndex]
GO
ALTER TABLE [dbo].[Hosts] ADD  DEFAULT ((0)) FOR [IsSuperHost]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[PaymentApprovalHistory] ADD  DEFAULT (getdate()) FOR [ActionAt]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((0)) FOR [IsBusinessReady]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((1)) FOR [selfCheckIn]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((1)) FOR [enhancedClean]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((1)) FOR [freeCancellation]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((1)) FOR [no_smoking]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((1)) FOR [no_open_flames]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((1)) FOR [pets_allowed]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((1)) FOR [no_parties]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((0)) FOR [ServiceFee]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((0)) FOR [TaxFee]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((0)) FOR [DiscountPercentage]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((0)) FOR [CovidSafety]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((0)) FOR [SurfacesSanitized]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((0)) FOR [CarbonMonoxideAlarm]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((0)) FOR [SmokeAlarm]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((0)) FOR [SecurityDepositRequired]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((0)) FOR [SecurityDepositAmount]
GO
ALTER TABLE [dbo].[PropertyAmenities] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[PropertyPhotos] ADD  DEFAULT ((0)) FOR [SortIndex]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SavedListings] ADD  DEFAULT (getdate()) FOR [SavedAt]
GO
ALTER TABLE [dbo].[SavedListings] ADD  DEFAULT ('property') FOR [ItemType]
GO
ALTER TABLE [dbo].[TourPhotos] ADD  DEFAULT ((0)) FOR [SortIndex]
GO
ALTER TABLE [dbo].[TourReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((1)) FOR [DurationDays]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((10)) FOR [MaxGuests]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [ProcessedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('pending') FOR [ApprovalStatus]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [RegisteredAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([HostID])
REFERENCES [dbo].[Hosts] ([HostID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Properties] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Properties]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Tours] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Tours]
GO
ALTER TABLE [dbo].[Calendars]  WITH CHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[ExperienceDetails]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[Hosts]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[HostVerifications]  WITH CHECK ADD FOREIGN KEY([HostID])
REFERENCES [dbo].[Hosts] ([HostID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HostVerifications]  WITH CHECK ADD FOREIGN KEY([VerificationTypeID])
REFERENCES [dbo].[VerificationTypes] ([VerificationTypeID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([FromUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([ToUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Neighbourhoods]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[PaymentApprovalHistory]  WITH CHECK ADD FOREIGN KEY([ActionBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PaymentApprovalHistory]  WITH CHECK ADD FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transactions] ([TransactionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD FOREIGN KEY([BedTypeID])
REFERENCES [dbo].[BedTypes] ([BedTypeID])
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD FOREIGN KEY([CancellationID])
REFERENCES [dbo].[CancellationPolicies] ([CancellationID])
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD FOREIGN KEY([HostID])
REFERENCES [dbo].[Hosts] ([HostID])
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD FOREIGN KEY([NeighbourhoodID])
REFERENCES [dbo].[Neighbourhoods] ([NeighbourhoodID])
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomTypes] ([RoomTypeID])
GO
ALTER TABLE [dbo].[PropertyAmenities]  WITH CHECK ADD FOREIGN KEY([AmenityID])
REFERENCES [dbo].[Amenities] ([AmenityID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyAmenities]  WITH CHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyPhotos]  WITH CHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SavedListings]  WITH CHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SavedListings]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SavedListings]  WITH CHECK ADD  CONSTRAINT [FK_SavedListings_FavoriteList] FOREIGN KEY([ListID])
REFERENCES [dbo].[FavoriteList] ([ListID])
GO
ALTER TABLE [dbo].[SavedListings] CHECK CONSTRAINT [FK_SavedListings_FavoriteList]
GO
ALTER TABLE [dbo].[SavedListings]  WITH CHECK ADD  CONSTRAINT [FK_SavedListings_Tours] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[SavedListings] CHECK CONSTRAINT [FK_SavedListings_Tours]
GO
ALTER TABLE [dbo].[TourPhotos]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourReviews]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourReviews]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD FOREIGN KEY([CancellationID])
REFERENCES [dbo].[CancellationPolicies] ([CancellationID])
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD FOREIGN KEY([HostID])
REFERENCES [dbo].[Hosts] ([HostID])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_NotBoth] CHECK  ((NOT ([PropertyID] IS NOT NULL AND [TourID] IS NOT NULL)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_NotBoth]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_PropertyOrTour] CHECK  (([PropertyID] IS NOT NULL OR [TourID] IS NOT NULL))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_PropertyOrTour]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[SavedListings]  WITH CHECK ADD  CONSTRAINT [CK_SavedListings_ItemTypeMatch] CHECK  (([ItemType]='property' AND [PropertyID] IS NOT NULL AND [TourID] IS NULL OR [ItemType]='tour' AND [TourID] IS NOT NULL AND [PropertyID] IS NULL))
GO
ALTER TABLE [dbo].[SavedListings] CHECK CONSTRAINT [CK_SavedListings_ItemTypeMatch]
GO
ALTER TABLE [dbo].[SavedListings]  WITH CHECK ADD  CONSTRAINT [CK_SavedListings_PropertyOrTour] CHECK  (([PropertyID] IS NOT NULL OR [TourID] IS NOT NULL))
GO
ALTER TABLE [dbo].[SavedListings] CHECK CONSTRAINT [CK_SavedListings_PropertyOrTour]
GO
ALTER TABLE [dbo].[TourReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
