.tour-dropdown-panel {
  position: absolute;
  top: 42px;
  left: 0;
  width: 260px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
  padding: 16px;
  z-index: 4000;
}
